/*---GLOBAL---*/

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.3em;
    line-height: 1.7;
    padding: 10px;
}

.group:after {
    content: "";
    display: table;
    clear: both;
  }

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.57);
    height: auto;
    width: 100%;
    z-index: 100;
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    letter-spacing: 1.7px;
}

h2:after {
    content: ' ';
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 15%;
    display: block;
    border: solid 2px #5bc0de;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/*---HERO---*/

.jumbotron {
    height: 100vh;
    width: 100%;
    background-image: url("resources/img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.hero-buttons {
    padding-top: 25px;
}

.hero-buttons a:first-child {
    margin-right: 15px;
}

#home .overlay {
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: #ccc;
    font-size: 4em;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 130px;
    font-family: 'Lato', sans-serif;;
}

/*---NAVBAR---*/

.navbar {
    background-color: rgba(41, 128, 185, 0.95);
    border-bottom: 2px solid #5bc0de;
    width: 100%;
    height: auto;
    position: relative;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.25px;
}

.nav-link:hover {
    border-bottom: 2px solid #ddd;
}

/* --- STICKY NAV --- */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.sticky .navbar-brand {
    display: none;
}

/* --- MODAL STYLES --- */

.modal-header {
    padding-top: 0; 
    background-color: #5bc0de;
    border-bottom: 2px solid #4cd1cd50;
}

/* --- WHO WE ARE --- */

.after-hero {
    padding-top: 80px;
}

#whoweare p {
    text-align: center;
}

/*--- WHAT WE DO ---*/

#whatwedo h2 {
    margin-top: -90px;
}

#whatwedo img {
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

#whatwedo ul {
    font-size: 1.3em;
}

/*--- INSURANCE ---*/

#insurance {
    background-image: url("resources/img/insurance.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    font-size: 1.2em;
    color: #fff;
}

#insurance .overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

#insurance .row-content {
    border-bottom: none;
}

#insurance h2 {
    color: #eee;
}

#insurance ul {
    list-style: none;
    margin: 0 auto;
    width: 460px;
    line-height: 1.8;
}

#insurance i {
    color: #5bc0de;
}

/*--- HOW IT WORKS ---*/

#howitworks ul {
    list-style: none;
}

#howitworks i {
    border: 3px solid #5bc0de;
    padding: 28px 30px 28px 30px;
    color: #5bc0de;
    margin: 15px;
    margin-top: 0;
    border-radius: 500px;
    float: left;
    font-size: 1.4em;
}

#howitworks p {
    font-size: 1.4em;
    float: left;
    padding-top: 15px;
}

/*--- TESTIMONIALS ---*/

#testimonials {
    background-image: url("resources/img/testimonials.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: #ccc;
}

#testimonials .overlay {
    height: auto;
}

#testimonials .row-content {
    border-bottom: none;
}

#testimonials i {
    margin-right: 10px;
    margin-bottom: 10px;
}

/*--- ABOUT US ---*/

#aboutus img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 4px solid #5bc0de;
    border-radius: 50px;
    clear: both;
}

#aboutus p {
    font-size: 1.2em;
}

/*--- FORMS ---*/

#documents {
    background-image: url(resources/img/documents.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: #ccc;
    min-height: none;
}

#documents .row {
    margin: 0 auto;
    min-height: 0;
}

#documents h2 {
    letter-spacing: 1.9px;
}

#documents .row-content {
    min-height: 0;
    margin: 0;
    padding: 0;
}

#documents .row-content:first-child {
    margin-top: 40px;
}

#documents .overlay {
    padding-top: 40px;
    padding-bottom: 40px;
}

#documents ul {
    list-style: none;
    border: 2px solid white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.70);
}

#documents ul:hover {
    background-color: #fff;
    transition: .5s;
}

#documents ul a {
    text-decoration: none;
    color: #eee;
}

#documents ul:hover {
    background-color: #555;
    color: #222;
    transition: .5s;
}

#documents ul li i {
    color: #5bc0de;
    margin-top: 15px;
    margin-left: 5px;
    float: left;
}

#document ul li {
    color: #ccc;
    letter-spacing: 1.2;
}

/*--- CONTACT SECTION ---*/

.contact-heading {
    margin-top: 25px;
}

.contact-container {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 55px;
    margin-bottom: 15px;
    clear: both;
}

#map {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}

.contact-info-main {
    float: right;
    width: 50%;
    height: 400px;
    background-color: #5bc0de;
    color: #eee;
    padding: 40px;
    font-size: 1.3em;
}

.contact-info-main ul {
    list-style: none;
}

.contact-info-main ul li {
    line-height: 2;
}

.contact-info-main a {
    text-decoration: none;
    color: #ddd;
}

.contact-info-main a:hover {
    text-decoration: none;
    color: #555;
}

/*.contact-info-main .social-icons {
    margin-left:20px;
}*/

.contact-info-main .social-icons a {
    color: #eee;
}

.contact-info-main .social-icons a:hover {
    color: #555;
    transition: .5s;
}

form {
    clear: both;
}

/*--- FOOTER ---*/

footer {
    width: 100%;
    background-color: #5bc0de;
    min-height: 100px;
    border-top: 3px solid #ddd;
    color: #eee;
    margin: 0;
    padding: 20px;
    bottom: 0;
    font-size: 1.2em;
}

.footer-social-icons {
    float: left;
}

.contact-icons:hover {
    color: #aaa;
}

.social-icons h5 {
    margin-right: 25px;
}

.social-icons i {
    padding-left: 10px;
    color: #eee;
    float: right;
}

footer .row {
    margin: 0 auto;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 600px) {

    .row-content {
        min-height: none;
    }

    .navbar-brand img {
        position: absolute;
        margin-top: 12px;
        width: 40%;
        height: auto;
    }

    .nav-link {
        font-size: 1.15em;
    }

    .nav-link:hover {
        border-bottom: none;
    }

    p {
        margin: 0 auto;
        width: 90%;
        font-size: 1.2em;
    }

    h1 {
        font-size: 2.5em;
    }

    #whoweare p {
        text-align: justify;
    }

    #whatwedo p {
        text-align: left;
        font-size: 1.3em;
    }
    
    #howitworks {
       font-size: .9em; 
    }

    #howitworks i {
        padding: 12px;
        margin-bottom: 50px;
        font-size: 1.2em;
    }

    #map {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .contact-info-main {
      font-size: 1.3em;
      padding: 0px;
      padding-top: 15px;
      margin: 0px;
      width: 100%;
      height: auto;
    }

    #aboutus img {
        width: 80%;
        height: auto;
        margin-left: 55px;
        margin-bottom: 20px;
        padding: 0;
        border-radius: 50px;
        clear: both;
        border: none;
    }

    #documents ul {
        width: 50%;
        margin: 10px auto;
        border: 1px solid white;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
    }

    #documents i {
        display: none;
    }

    .form-container {
        margin-left: 20px;
        width: 90%;
    }

    footer {
        position: relative;
    }

    footer .contact-icons {
        float: none;
    }

    footer .social-icons {
        position: absolute;
        left: 0;
    }
  }
